* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Saans TRIAL";     
}

a , p {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.menu-container {
   background-color: #6699CC;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:5vw;
    letter-spacing: -0.04em;
    color: #000;
}

h1 sup {
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 1.5vw;
    letter-spacing: 0;
}


